header {
    background: imgUrl('banner.png');
    background-size: cover;

    nav {
        background: linear-gradient(180deg, #F0F0F0 0%, rgba(240, 240, 240, 0.00) 100%);
    }

    @media screen and (max-width: 900px) {
        background-position: center top;
    }
}

section.brands {
    .brands_slider {
        .slick-track {
            display: flex;
        }

        .slick-slide {
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

#cta_slider {
    .slick-track {
        display: flex;
    }

    .slick-slide {
        height: inherit;
        margin: 0 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#client_slider {
    .slick-track {
        display: flex;
    }

    .slick-slide {
        height: inherit;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0 32px;

        .name {
            height: 117px;
            width: 117px;
            background: #c6c6c6;
            font-weight: 800;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            border-radius: 100%;
        }

        .info {
            display: none;
        }

        &.slick-current {
            .name {
                height: 142px;
                width: 142px;
                background: #ED3D3D;
            }

            .info {
                display: block;
            }
        }
    }
}

section.form-wrapper {
    background: imgUrl('form.png') center;
    background-size: contain;

    form {
        .input-group {
            label {
                font-size: 14px;
                font-weight: 600;
            }

            .form-control {
                height: 48px;
                border: 1px solid #e2e1e5;
                width: 100%;
                border-radius: 5px;
                margin-top: 8px;
                padding: 6px 16px;
            }
        }
    }
}